<div class="wrapper1">
	<h3><b>Contact Us</b></h3>    
</div>

<br>
<br>
<div class="col-sm-4">
<pre>
<%= image_tag("phone-flow.png")%>   <b>Call Us At</b>  
        <b>9466595411</b>
</pre>
</div>

<div class="col-sm-4">
<pre>
<%= image_tag("mail-flow.png")%>   <b>Email</b>  
        <b>handyservices@gmail.com</b>
</pre>
</div>



<div class="col-sm-4">
<%= image_tag("logo.gif")%>   
<h3>Handy Services Pvt.Ltd</h3>  
<li>Gurgaon	</li>       
<li>Delhi</li>       
<li>Bangalore</li>       

</div>

<br><br><br>
<h2><pre>Fill up the form below and our advisor will call you back as soon as possible</pre></h2>

<div class="col-sm-4">

<%= text_field_tag :login, 'Name', :class => "form-control" %>
<br><br>
<%= text_field_tag :login, 'Email', :class => "form-control" %>
<br><br>
<%= text_field_tag :login, 'Phone#', :class => "form-control" %>

</div>

<div class="col-sm-4">
<select name="">
<option value=""selected>What Would You Like To Do  ?</option>
<option value="feburary">Avail a Service</option>
<option value="march">Provide a Feddback</option>
<option value="april">Customized Offerings</option>
<option value="may">Partner With Us</option>
<option value="june">Gift a Service Package</option>
<option value="july">Get More Information</option>
<option value="August">Refer a Friend</option>

</select>
</div><br><br><br>
<div class="col-sm-4">
<textarea name="txtcomment" rows="5" cols="26" id="txtcomment" placeholder="Message">
</textarea>
</div>